@require "helpers"

html
  background #D74C59

.inputs
  text-align center
  background: #C22736
  color: #FAA4AD
  width: 50%
  transform translate(-50%, -50%)
  position absolute
  top 50%
  left 50%
  padding 10px
  overflow auto

button
  background-color #98121E 
  border none
  color #F77985
  padding 15px 32px
  text-align center
  text-decoration none
  display inline-block
  font-size 16px
  margin 4px

text.field-labeled
  padding 20px