extends template

block cssSheets
	link(rel='stylesheet', href='/stylesheets/login.css')

block content
	script(src='/js/script.js')
	.outerBox
	form.login-form#login-form
		.inputs
			.input-row
				.input-box
					text.field-labeled Username
					input.text-input(type='text' name='username' placeholder='Username' maxlenth='20')
				.input-box
					text.field-labeled Password
					input.text-input(type='password' name='password' placeholder='********' maxLength='40')
			button.login-button(type='button' onclick='login()') Login