extends template


block cssSheets
    script(src='/js/script.js')
    link(rel='stylesheet', href='/stylesheets/wallet.css')
    script.
        window.onload = function() {
            generateWallets();
        }    


block content
    script(src='/js/script.js')
    

    .navBar
        a(href='/wallet')
            img(src="images/pintu.png" class="pintuLogo").logo
        a(href='/login')
            button.logout-button(type='button' onclick='logout()') Logout

    form.wallet-form#wallet-form
        #listOfWallets

        #send.modal
            form.send-form#send-form
                h1 Send Bitcoins
                .inputs
                    .input-row
                        input.text-input#target-address(type='text' placeholder='Target')
                    .input-row
                        input.text-input#send-amount(type='number' placeholder='0')
                    .input-row
                        button.submit-button-send#send-button(type='button' onclick='send()') Send
                        button.close-button-send(type='button' onclick='closeSendModal()') Close
        #receive.modal
            form.send-form#receive-form
                h1 Receive Bitcoins
                    .address
                        img(src='/images/DEV_qr.jpg')
                .input-row
                    p Address:
                .input-row
                    button.close-button-receive(type='button' onclick='closeReceiveModal(this)') Close

    script.
        function send(){
            walletId = "Hardcode"
            let target = document.getElementById('target-address').value
            let amount = document.getElementById('send-amount').value
            sendTransaction(walletId, target, amount)
        }
        function closeSendModal(ele) {
            document.getElementById('send').style.display = 'none'
        }

        function displaySendModal(ele, walletId) {
            console.log("HERE")
            //document.getElementById('send').style.display = 'block'
            ele.style.display = 'block'
            document.getElementById('send-button').value = walletId
        }
        function closeReceiveModal(ele) {
            document.getElementById('receive').style.display = 'none'
        }
        function displayReceiveModal(ele, walletAddress) {
            document.getElementById('receive').style.display = 'block'
        }
